html,
body {
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
        font-family: "PingFang SC", "Microsoft YaHei", "Droid Sans", Roboto, "Helvetica Neue", Helvetica, STHeiTi, sans-serif, "黑体";
    }
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
}

svg {
    width: 1em;
    height: 1em;
}
